<div class="container picture-container">
 <a href="/clubs" class="white-text">
  <img
   class="card-bg responsive-img"
   src="https://cdn.pixabay.com/photo/2020/06/29/20/37/asphalt-tennis-court-5354328__480.jpg"
 /></a>
 <a href="/clubs" class="white-text card-landing z-depth-5 transparent">
  <b>Find your next tennis club.</b>
  <br />
  <button class="blue waves-effect waves-light btn-large">Go!</button>
 </a>
</div>
