<!DOCTYPE html>
<html>
<%- include ('partials/head.ejs') %>

  <body>
    <%- include ('partials/navbar.ejs') %>
      <div class="content center">
        <div>
          Looking for a free tennis court near you! Our sister (brother?) site lets you find free (and paid) facilities
          in
          your neighbourhod and much more.
          <br /><br />
          So if you can't find a club to join on here, or are just looking for a one time match, then go to
          <br /><br /><br /><br />
          <a href="https://connactiveclub.com" target="_blank"><img src="images/connactiveclub.png"
              style="max-width:70vw" />
            <br />
            Play. Compete. Have Fun.
          </a>
          <br /><br /><br /><br />
        </div>
        <%- include ('partials/scripts.ejs') %>
      </div>
  </body>

</html>