<!DOCTYPE html>
<html>
 <%- include ('partials/head.ejs') %>
 <body>
  <%- include ('partials/navbar.ejs') %> <%- include ('partials/landing.ejs') %> <%- include
  ('partials/scripts.ejs') %>
 </body>
</html>
